@model Category

<h2>Details</h2>
<div>
    <h3>@Model.Name</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Manufacturer
                </th>
                <th>
                    Seller
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Devices)
            {
                <tr>
                    <td>
                        @item.Name 
                    </td>
                    <td>
                        @item.Price
                    </td>
                    @{
                        string message = "???";
                        foreach (var man in ViewBag.Manufacturers as List<Manufacturer>)
                        {
                            if(man.Id == item.ManufacturerId)
                            {
                                message = man.Name;
                                break;
                            }
                        }
                    }
                    <td>
                        @message
                    </td>
                    @{
                        message = "???";
                        foreach (var man in ViewBag.Sellers as List<Seller>)
                        {
                            if (man.Id == item.ManufacturerId)
                            {
                                message = man.Name;
                                break;
                            }
                        }
                    }
                    <td>
                        @message
                    </td>
                    <td>
                        @item.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-controller="Device" asp-action="Index">Back to List</a>
</div>

