@using lab15.ViewModels
@model ManufacturerViewModel

<h2>Create a new manufacturer</h2>
<form method="post"> 
    <div class="border p-3 mt-4">

        @if (ViewData["ErrorMessage"] != null)
        {
            <h3 class="text-danger">@ViewData["ErrorMessage"]</h3>
        }
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Country">Country</label>
            <input asp-for="Country" class="form-control" />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
   <a asp-action="Index">Back to list</a>
</form>