@model List<Seller>
@{
    ViewData["Title"] = "Home Page";
}
<a asp-action="Create"> Create new</a>
<h2>Seller list</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                More
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@("Other goods of the" + item.Name)</a>
                </td>
            </tr>
        }
    </tbody>
</table>
